<!-- ============================================================== -->
<!-- Doughnut Chart Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ Title }}</h4>
                <div>
                    <div>
                        <div style="display: block">
                            <canvas baseChart [data]="ChartData" [labels]="ChartLabels" [chartType]="ChartType">
                        </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Doughnut Chart Content -->
<!-- ============================================================== -->